<?php
 /*
 * Subrion Open Source CMS 4.2.1
 * Config file generated on 13 December 2018 10:12:47
 */

define('INTELLI_CONNECT', 'mysqli');
define('INTELLI_DBHOST', 'localhost');
define('INTELLI_DBUSER', 'root');
define('INTELLI_DBPASS', 'password');
define('INTELLI_DBNAME', 'addlabde_tan');
define('INTELLI_DBPORT', '3306');
define('INTELLI_DBPREFIX', 'tan_');

define('IA_SALT', '#9203E0E1B8');

// debug mode: 0 - disabled, 1 - enabled
define('INTELLI_DEBUG', 1);
